extends layout

block content
    h1= title
    form(
    action='/users/addnewuser'
    method='post'
    )

        input(
        type='text'
        name='firstName'
        id='firstName'
        placeholder='First Name'
        required
        )
        input(
        type='text'
        name='lastName'
        id='lastName'
        placeholder='Last Name'
        required
        )
        input(
        type='email'
        name='email'
        id='email'
        placeholder='Email'
        required
        )
        input(
        id='add'
        type='submit'
        value='OK'
        )


