extends layout

block content

  h1= title
     div= container
       form(
         action='/users'
         method='POST'
         )
         input(
         type='text'
         name='username'
         placeholder='Login'
         required
         )
         input(
         type='password'
         name='password'
         placeholder='Password'
         required
         )
         input(
         type='submit'
         value='submit'
         id='submit-btn'
         )


