doctype html
html
  head
    title= TITLE
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
  script(type="text/javascript", src='/javascripts/jquery-3.3.1.min.js')
  script(type="text/javascript", src='/javascripts/scripts.js')
