extends layout

block content
    h1= title
    p Amount of users:
        =userLength
    div(class="userList")
        each val in list
            div
                span(class="id")=val.id
                span(class="firstName")=val.firstName
                span(class="lastName")=val.lastName
                span(class="email")=val.email


                span
                    a(href="/users/"+val.id+"/edit") Edit
                span
                    a(href="/users/"+val.id+"/delete") Delete




    form(
    action='/users/addnewuser'
    method='get'
    )
        input(
        type='submit'
        value='Add new user'

        )

