body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form input {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.userList div {
  padding: 20px;
  border-bottom: 1px solid grey;
  text-align: center;
}
.userList div:nth-child(odd) {
background: #00B7FF;
}
.userList span {
  margin: 20px;
}
.userList span a{
  text-decoration: none;
  color: darkred;
}